<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.css">
    <style>
      .active .desc {color: #ddd; }
      .icon { margin-right: 16px; }
      .main-text { padding-top: 4px; }
    </style>
  </head>
  <body ng-app="myApp">
    <div ng-controller="MainCtrl" class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <list-x ng-model="items" title="Contacts" on-load="loadHandler()" on-select="clickHandler(item)" on-mouse-over="mouseOverHandler(item)" on-mouse-leave="mouseLeaveHandler(item)" load-url="test3.json" item-handlers="nestedHandlers">
            <item-template><a href="#" class="list-x-item"><img ng-src="{{item.image}}" class="img-rounded icon pull-left">
                <div class="main-text"><strong>{{ item.text }}</strong></div>
                <div class="text-muted desc"><span>{{ item.desc }}</span>
                  <div ng-click="itemHandlers().itemBtnClick(item, $event)" class="btn btn-info btn-sm pull-right">Send Message</div>
                </div>
                <div class="clearfix"></div></a></item-template>
          </list-x>
        </div>
        <div class="col-md-9">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h1 class="panel-title">Event handling in List X</h1>
            </div>
            <div class="panel-body">
              <pre>
                <xmp class="prettyprint">angular.module('myApp', ['listxModule']);

angular.module('listxModule').controller('MainCtrl', ['$scope', function($scope) {
    $scope.clickHandler = function(item) { alert(item.text + ' is selected') };
    $scope.mouseOverHandler = function(item) { alert('Mouse over: ' + item.text) };
    $scope.mouseLeaveHandler = function(item) { alert('Mouse leave: ' + item.text) };
    $scope.loadHandler = function() { console.log('items are loaded') };
    $scope.nestedHandlers = {
        itemBtnClick: function(item, $event) {
            $event.cancelBubble = true;
            alert('Send Message to: ' + item.text);
            console.log(item, $event);
        }
    };
}]);
                </xmp></pre>
              <pre>
                <xmp class="prettyprint"><body ng-app="myApp"></xmp></pre>
              <pre ng-non-bindable>
                <xmp class="prettyprint"><list-x ng-model="items" title="Contacts" on-load="loadHandler()" on-select="clickHandler(item)" on-mouse-over="mouseOverHandler(item)" on-mouse-leave="mouseLeaveHandler(item)" load-url="test3.json" item-handlers="nestedHandlers">
    <item-template>
        <a href="#" class="list-x-item"><img ng-src="{{item.image}}" class="icon pull-left">
        <div class="main-text"><strong>{{ item.text }}</strong></div>
        <div class="desc"><span>{{ item.desc }}</span>
            <div ng-click="itemHandlers().itemBtnClick(item, $event)" class="btn btn-info btn-sm pull-right">Send Message</div>
        </div>
        <div class="clearfix"></div></a>
    </item-template>
</list-x>
                </xmp></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="../angular.listx.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script>
    <script>
      angular.module('myApp', ['listxModule']);
      angular.module('listxModule').controller('MainCtrl', ['$scope', function($scope) {
          $scope.clickHandler = function(item) { alert(item.text + ' is selected') };
          $scope.mouseOverHandler = function(item) { alert('Mouse over: ' + item.text) };
          $scope.mouseLeaveHandler = function(item) { alert('Mouse leave: ' + item.text) };
          $scope.loadHandler = function() { console.log('items are loaded') };
          $scope.nestedHandlers = {
              itemBtnClick: function(item, $event) {
                      $event.cancelBubble = true;
                      alert('Send Message to: ' + item.text);
                      console.log(item, $event);
              }
          };
      }]);
      
      !function ($) {
        $(function(){
          var $window = $(window)
          window.prettyPrint && prettyPrint()
        })
      }(window.jQuery)
    </script>
  </body>
</html>