<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="../angular.listx.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script>
    <!--link(rel="stylesheet", href="../angular.listx.css")-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.css">
    <script>angular.module('myApp', ['listxModule']);</script>
  </head>
  <body ng-app="myApp">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <list-x ng-model="items" title="Default Template" load-url="test2.json"></list-x>
        </div>
        <div class="col-md-9">
          <h1>List X with default template</h1>
          <pre>
            <xmp class="prettyprint">angular.module('myApp', ['listxModule']);</xmp></pre>
          <pre>
            <xmp class="prettyprint"><body ng-app="myApp"></xmp></pre>
          <pre>
            <xmp class="prettyprint"><list-x ng-model="items" title="Default Template" load-url="test2.json"></list-x></xmp></pre>
        </div>
      </div>
    </div>
    <script>
      !function ($) {
        $(function(){
          var $window = $(window)
          window.prettyPrint && prettyPrint()
        })
      }(window.jQuery)
    </script>
  </body>
</html>