a.list-x-item(href="#")
    span.glyphicon.glyphicon-user.pull-left(style="font-size:36px;padding-right: 6px")
    //img.icon.pull-left(ng-src="{{item.image}}")
    .text-info.main-text {{ item.text }}
    .text-muted.desc {{ item.desc }}
    .clearfix